:root {
  --slide-width: 400px;
  --slide-height: 400px;
}

.carousel-viewport {
  position: relative;
  width: var(--slide-width);
  height: var(--slide-height);
  margin: 20px auto;
  border-radius: 8px; 
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
}


.carousel-container::-webkit-scrollbar { 
  display: none; 
}

.slide {
  flex: 0 0 var(--slide-width);
  width: var(--slide-width);
  height: var(--slide-height);
  scroll-snap-align: start;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.carousel-nav {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
}

.carousel-nav a {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: blueviolet;
}
.carousel-nav a:active{
    background-color: white;
}
@media(max-width:420px){
  :root{
      --slide-width: 300px;
      --slide-height: 300px;
  }
}
@media(max-width:250px){
   :root{
      --slide-width: 100%;
      --slide-height: 300px;
  }
  .contact_btn{
    bottom: 160px;
    right: 0;
  }
  #smallest_screen{
    margin-bottom: 20px;
  }
}
