* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    user-select: none;
    overflow-x: hidden;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    background-color: #f8f8f8;
    width: 100%;
}

#school_logo {
    width: 180px;
    height: 80px;
}

.nav-links {
    margin-left: 25px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links ul li {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Cairo;
    color: white;
    cursor: pointer;
    background-color: rgb(90 44 142);
    padding: 10px;
    width: 170px;
    border-radius: 20px;
    transition-duration: 1s;

}

.nav-links ul li:hover {
    background-color: white;
    color: rgb(90 44 142);
}

.nav-links a {
    text-decoration: none;
}

.school_name {
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 100px 0 100px 0;
    background-size: 250px;
    background-image: url('../assests/output-onlinepngtools.png');
    background-color: rgb(73, 0, 142);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    animation-name: show;
    animation-duration: 0.4s;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateX(-60px);
        scale: calc(0.5);
    }

    25% {
        opacity: 0;
        transform: translateX(-50px);
        scale: calc(0.6);
    }

    50% {
        opacity: 50%;
        transform: translateX(-25px);
        scale: calc(0.7);
    }

    75% {
        opacity: 75%;
        transform: translateX(-12px);
        scale: calc(0.8);
    }

    100% {
        transform: translateX(0px);
        scale: 1;
    }

}

#name {
    align-self: center;
    color: white;
    font-family: Cairo;
    font-size: 27px;
}

.partners {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 50px;
    margin-top: 60px;
}

#par_img {
    width: 180px;
    height: 180px;
}

.scaler {
    animation-name: return_scale;
    animation-duration: 2s;
}

/*make text&partners_imgs bigger*/
@keyframes return_scale {
    from {
        opacity: 28%;
        scale: 0;
    }

    to {
        opacity: 100%;
        scale: 1;
    }
}

h2 {
    font-size: 40px;
    margin-top: 100px;
    font-family: Cairo;
}

/* .container{
    width: 100%;
    display: flex;
    justify-content: center;
} */
.about {
    width: 100%;
    height: auto;
    margin-top: 60px;
    background-color: rgb(90 44 142);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: 0 40px 0 0;
    align-self: center;
}

.about p {
    font-size: 1.5vw;
    padding: 10px;
    text-wrap: wrap;
    line-height: 1.5;
    color: white;
    margin-top: 30px;
    font-family: Cairo;
    margin-right: 10px;
}

.about_img {
    width: 200px;
    height: 200px;
    border-radius: 10px 40px 0px 40px;
    background-image: url("../assests/about.jfif");
    margin-top: 0px;
    margin-left: 20px;
}

.contact_btn {
    width: fit-content;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid rgb(73, 0, 142);
    border-radius: 20px;

}

.contact_btn button {
    width: 100%;
    height: 100%;
    background-color: rgb(73, 0, 142);
    color: white;
    font-size: 20px;
    font-family: Cairo;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 3px;
    border: 1px solid rgb(73, 0, 142);
    border-radius: 20px;

}

#support_icon {
    stroke: green;
    width: 30px;
    height: 30px;
    align-self: center;
}

#menu {
    width: 40px;
    height: 40px;
    display: none;
    align-self: center;
    background-color: #f8f8f8;
}

#menu_btn_img {
    width: 100%;
    height: 100%;
}

button {
    outline: none;
    border: none;
    box-shadow: none;
}

.cards_container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 100px;
}

.card {
    width: 270px;
    height: 425px;
    background-color: whitesmoke;
    border-radius: 10px 10px;
    transition: scale 1.3s;
}

.card:hover {
    scale: calc(1.1);
}

#card_img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

.card h1 {
    font-family: Cairo;
    color: rgb(73, 0, 142);
    text-align: center;
}

.card p {
    margin-top: 25px;
    font-size: 17px;
    font-family: Cairo;
    padding: 15px;
}

.locationSection {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 80px;
}

.locationDetails {
    width: fit-content;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 30px;
}

#locationP {
    font-size: 25px;
    font-weight: bold;
    font-family: Cairo;
    color: rgb(73, 0, 142);
    align-self: center;
    margin-bottom: 20px;
}

#loc-ic {
    animation-name: locationDrop;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes locationDrop {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}

#locationBtn {
    width: 270px;
    height: 100px;
    align-self: center;
    text-align: center;
    font-size: 20px;
    font-family: Cairo;
    font-weight: bold;
    background-color: rgb(73, 0, 142);
    color: white;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    transition: scale 1s;
}

#locationBtn:hover {
    scale: calc(1.1);
}

#schoolImg {
    width: 400px;
    height: 400px;
    border-radius: 50px 50px;
}

@media(max-width:1024px) {
    .cards_container {
        gap: 50px;
    }
}

@media(max-width:915px) {
    .cards_container {
        gap: 35px;
    }
}

@media(max-width:895px) {
    .cards_container {
        width: fit-content;
        flex-flow: column wrap;
        align-self: center;
    }

    .center_cards_smallest_screen {
        width: 100%;
        display: flex;
        align-content: center;
        flex-flow: column wrap;
    }
}

@media(max-width:945px) {
    .about {
        flex-flow: column wrap;
    }

    .about p {
        font-size: 20px;
    }

    .about_img {
        align-self: center;
        margin: 0;
        width: 300px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

}

@media (max-width:845px) {
    .cont {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .partners {
        width: 100%;
        align-self: center;
        flex-flow: column wrap;
        align-items: center;
    }

}

@media(max-width:835px) {
    .locationSection {
        flex-flow: column wrap;
        align-items: center;
    }
}

@media(max-width:755px) {
    #menu {
        display: block;
    }

    .nav-links ul {
        display: none;
        flex-direction: column;
    }

    .nav-links {
        margin-top: 30px;
    }

    .re_flex {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

@media(max-width:400px) {
    #schoolImg {
        width: 300px;
        height: 300px;
    }
}

@media(max-width:360px) {
    .partners {
        width: 52%;
    }
}

@media(max-width:325px) {
    .about_img {
        width: 180px;
        height: 180px;
    }

    .partners {
        width: 60%;
    }
}

@media(max-width:300px) {
    .partners {
        width: 60%;
    }
}

@media(max-width:295px) {
    #locationBtn {
        width: 100%;
        height: 105px;
        align-self: center;
    }

    #schoolImg {
        width: 100%;
        height: auto;
        border-radius: 0px;
    }
}

@media(max-width:250px) {
    .school_name {
        width: 230px;
        height: 230px;
    }

    #locationBtn {
        width: 100%;
        height: auto;
        align-self: center;
    }
}

@media(max-width:232px) {
    .school_name {
        width: 150px;
        height: 150px;
    }

    #name {
        font-size: 15px;
    }

}


@media(max-width:200px) {
    .partners {
        width: 100%;
    }
}